TZ=Asia/Singapore
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development

# API CONFIGURATION
API_SECRET_STAGING=
API_SECRET_PROD=
JWT_SECRET=

# AI CONFIGURATION
NODEMATION_AI_URL=https://nodemation.bikincv.com
NODEMATION_AI_APIKEY=d440d42b08af2574b84844fcd0f27bb585424a570747af19

# DATABASE CONFIGURATION
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=bikincv

# MAIL CONFIGURATION
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
MAILGUN_API_KEY=your-key
MAILGUN_DOMAIN=your-domain

# REDIS CONFIGURATION
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# FILE STORAGE CONFIGURATION
DRIVE_DISK=fs
AWS_ACCESS_KEY_ID=your-key
AWS_SECRET_ACCESS_KEY=your-secret
AWS_REGION=your-region
S3_BUCKET=your-bucket
GCS_KEY=file://./gcs_key.json
GCS_BUCKET=your-bucket

# RATE LIMITER CONFIGURATION
LIMITER_STORE=database

# MIDTRANS CONFIGURATION
MIDTRANS_IS_PRODUCTION=false
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=

# XENDIT CONFIGURATION
XENDIT_SECRET_KEY=your-secret

# SESSION CONFIGURATION
SESSION_DRIVER=cookie